<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>{{content.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="dark">
  <h3>{{content.text}}</h3>
</ion-content>
