<div class="animated fadeInUp"id="content"style="text-align:center">
  <h1>{{service}}</h1>
  <br>
  <h1>Click above for testing the speech to text services</h1>
  <div id="content"class="animated fadeInUp">
    <ion-button id="button"(click)="startRecording()" color="primary" *ngIf="!recording"><ion-icon name="play"></ion-icon></ion-button>
    <ion-button id="stop"(click)="stopRecording()" color="danger" *ngIf="recording"><ion-icon name="pause"></ion-icon></ion-button>
  </div>
  <br>
  <br>
  <p id="output"></p>

  <audio controls="" *ngIf="url">
    <source [src]="sanitize(url)" type="audio/wav">
  </audio>
  <h2>Watson Speech to text</h2>
  <p>{{results}}</p>
  <br>
  <h2>Amazon Transcribe</h2>
  <p>{{awsText}}</p>
