<div id="content"class="animated fadeInUp">
    <div class="container">
        <h4>Sample of a Word-Tree Chart</h4>
        <br>
        <google-chart [data]="treeChart"style="position:relative;width:90%"></google-chart>
    </div>
    <br>
    <div class="container">
        <h4>Sample of a Geografic Chart</h4>
        <br>
        <google-chart [data]="geoChart"style="position:relative;width:90%"></google-chart>
    </div>
    <br>
    <div class="container">
        <h4>Most popular Frameworks among developers</h4>
        <br>
        <google-chart [data]="barChart"style="position:relative;width:90%"></google-chart>
    </div>
</div>
<br>
<br>

