<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Dedagroup
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear"(click)="goChat()">Chat</ion-button>
      <ion-button fill="clear"(click)="goSearch()">Ricerca</ion-button>
      <ion-button fill="clear"(click)="goDashboard()">Dashboard</ion-button>
      <ion-button fill="clear"(click)="goSpeech()">Speech</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="dark"padding>
  <div id="chat"*ngIf="chat"style=" height: 100%;margin: 0;">
      <div #scrollMe class = "chatwindow">
          <div *ngFor="let message of allmessages"style="background-color:transparent">
            <div id="content"style="position:relative;width:100%;">
                <br>
                <br>
                <div class="animated zoomInRight"id="me"style="position:relative;float:right;width:50%;text-align:center;background-color:#10dc60;border-radius:10px"*ngIf="message.type==true">
                    <p>{{message.text}}</p>
                </div>
                <div class="animated zoomInLeft"id="you"style="position:relative;float:left;width:50%;text-align:center;background-color:#989aa2;border-radius:10px"*ngIf="message.type==false">
                    <p>{{message.text}}</p>
                </div>
                <br>
            </div>
          </div>
      </div>
  </div>

  <div id="search"*ngIf="search">
      <ion-item color="dark"style="width:100%"class="animated slideInDown">
        <ion-input placeholder="Inserisci un testo da ricercare"type="md"[(ngModel)]="searchQuery"(keydown.enter)="searchData()"></ion-input>
      </ion-item>
      <div id="results"*ngIf="found else loading">
          <div *ngFor="let item of arrayResults"color="dark"class="animated slideInUp">
            <ion-button fill="clear"color="light"routerDirection="root"(click)="showMore(item)">
                <p>{{item.title}}</p>
            </ion-button>
            <br>
          </div>
      </div>
      <ng-template #loading>
          <img style="margin-left:42.5%;width:15%"src="assets/attesaModale.svg">
        </ng-template>
  </div>
  <div id="dashboard"*ngIf="dashboard">
        <app-dashboard></app-dashboard>
  </div>
  <div id="speech"*ngIf="speech">
      <app-speech></app-speech>
  </div>
</ion-content>
<ion-footer color="dark"ion-fixed class="animated slideInUp">
    <div *ngIf="chat"style="background-color:#444">
      <ion-item color="dark"style="width:100%">
          <ion-input placeholder="Scrivi il tuo messaggio qui"type="md"[(ngModel)]="newmessage"(keydown.enter)="addMessage()"></ion-input>
      </ion-item>
    </div>
</ion-footer>